<ul class="nav nav-pills">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">{{year.text}}</a>
        <ul class="dropdown-menu">
            {{#each date in years}}
                <li class="li">
                    <a href="#" {{action 'changeDate' date}}>{{date.text}}</a>
                </li>
            {{/each}}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">{{month.text}}</a>
        <ul class="dropdown-menu">
            {{#each date in months}}
                <li class="li">
                    <a href="#" {{action 'changeDate' date}}>{{date.text}}</a>
                </li>
            {{/each}}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">{{day.text}}</a>
        <ul class="dropdown-menu">
            {{#each date in days}}
                <li class="li">
                    <a href="#" {{action 'changeDate' date}}>{{date.text}}</a>
                </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{outlet}}