<nav>
    <div class="row root-toggle">
        {{#link-to 'content' alternateRoot}}browse by {{alternateRoot}}{{/link-to}}
    </div>
    <div class="row">
        {{#each selectors}}
            <div class="col-md-6">
                {{paged-select2 type=type
                                value=value
                                options=options
                                nextText=next
                                prevText=prev
                                style="width: 100%;"
                                select="changeFocus"}}
            </div>
        {{/each}}
    </div>
    <ul class="subjects nav nav-pills">
        {{#each subjects}}
            <li {{bindAttr class="active"}}>
                <a href="#" {{action changeSubject this}}>{{text}}</a>
            </li>
        {{/each}}
    </ul>
</nav>
<div class="row loading-container">
    {{view LoadingView}}
</div>
{{#unless isLoading}}
    {{outlet}}
{{/unless}}