<label for="">{{type}}</label>
<ul class="pager">
    <li {{bindAttr class=":previous prevText::disabled"}}><a href="#" {{action prev}}>&larr; {{prevText}}</a></li>
    <li {{bindAttr class=":next nextText::disabled"}}><a href="#" {{action next}}>{{nextText}} &rarr;</a></li>
</ul>
<input {{bindAttr type=":hidden" style="style"}}>